:root{
  --primary: #6228AD;
  --primary-transparent: rgba(98, 40, 173, 0.2);
  --background: #fff;
  --info: #0075FF;
  --text: #333;
  --secondary-text: #777;
  --gray4: #444;
  --gray9: #999;
  --grayC: #ccc;
  --grayD: #ddd;
  --grayE: #eee;
  --grayF1: #f1f1f1;
  --grayFA: #fafafa;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
}


