:root{
  --primary: #6228AD;
  --primary-transparent: rgba(98, 40, 173, 0.2);
  --info: #0075FF;

  --background: #fff;
  --text: #333;
  --secondary-text: #777;
  
  --gray4: #444;
  --gray9: #999;
  --grayC: #ccc;
  --grayD: #ddd;
  --grayE: #eee;
  --grayF1: #f1f1f1;
  --grayFA: #fafafa;

  --purple-text: rgba(147, 51, 234, 1);
  --red-text: rgba(224, 0, 0, 1);
  --yellow-text: rgba(234, 179, 8, 1);
  --blue-text: rgba(37, 99, 235, 1);
  --green-text: rgba(0, 138, 0, 1);
  --orange-text: rgba(255, 157, 0, 1);
  --pink-text: rgba(186, 64, 129, 1);
  --gray-text: rgba(168, 162, 158, 1);

  --purple-background: rgba(147, 51, 234, 0.2);
  --red-background: rgba(224, 0, 0, 0.2);
  --yellow-background: rgba(234, 179, 8, 0.2);
  --blue-background: rgba(37, 99, 235, 0.2);
  --green-background: rgba(0, 138, 0, 0.2);
  --orange-background: rgba(255, 157, 0, 0.2);
  --pink-background: rgba(186, 64, 129, 0.2);
  --gray-background: rgba(168, 162, 158, 0.2);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
}


